/*
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/
@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  text-align: center;
  font-weight: normal;
}

.marginLeft {
  margin-left: 50px;
}
@media all and (max-width: 768px) {
  .marginLeft {
    margin-left: 0px;
  }
}

.marginRight {
  margin-right: 50px;
}
@media all and (max-width: 768px) {
  .marginRight {
    margin-right: 0px;
  }
}

.btn {
  display: inline-block;
  text-align: left;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 25px 25px 25px 25px;
  line-height: 120px;
  font-weight: bold;
  font-size: 4em;
  padding: 1rem 1rem 1rem 5rem;
  margin-top: 90px;
  margin-bottom: 0;
  width: 650px;
}
.btn::after {
  content: "";
  animation: loading 3s infinite;
}
@media all and (max-width: 768px) {
  .btn {
    width: 110px;
    font-size: 1em;
  }
}

header {
  background-color: #579c87;
  width: 100%;
  text-align: center;
  line-height: 242px;
}

header > p {
  color: #fdcb46;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #fdcb46;
}
header a:hover {
  text-decoration: none;
}

.content {
  text-align: center;
  margin-bottom: 222px;
  height: 1863px;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  height: 137px;
  width: 100%;
  margin-bottom: 0px;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 2em;
}

footer p {
  margin-top: 45px;
}

footer a {
  text-decoration: none;
  color: #fdcb46;
  padding-left: 10px;
  padding-right: 20px;
}
footer a:hover {
  display: inline-block;
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
}

.menus {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.menus__inner {
  width: 543px;
  min-height: 759px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media all and (max-width: 768px) {
  .menus__inner {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.menus__inner img {
  width: 30px;
}
.menus__inner__title {
  margin-top: 300px;
  animation: zoom 2s ease-in-out;
  animation-delay: 400ms;
  animation-fill-mode: both;
}
.menus__inner__text {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
}
.menus__inner a, .menus__inner a:hover, .menus__inner a:visited {
  text-decoration: none;
  color: inherit;
}
@media all and (max-width: 768px) {
  .menus {
    flex-direction: column;
    font-size: 0.9em;
  }
}

.openMenu {
  max-width: 1198px;
  height: 1684px;
  margin: auto;
  text-align: left;
  padding-bottom: 30px;
}
.openMenu h2 {
  margin-top: 0;
}
.openMenu__image {
  text-align: center;
}
.openMenu__image img {
  width: 130px;
  margin-top: 77px;
}
.openMenu .imageFinale {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
.openMenu .imageFinale img {
  width: 73px;
  vertical-align: middle;
  margin-right: 10px;
}

.plats {
  padding-left: 10%;
  padding-right: 10%;
  margin-right: 0;
  margin-bottom: 100px;
}
.plats__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
.plats__title img {
  vertical-align: middle;
  width: 100%;
}
@media all and (max-width: 768px) {
  .plats__title img {
    margin: auto;
    text-align: center;
  }
}
.plats__title img:nth-child(1) {
  float: left;
  width: 30%;
}
@media all and (max-width: 768px) {
  .plats__title img:nth-child(1) {
    float: none;
    display: block;
    text-align: center;
  }
}
.plats__title img:nth-child(3) {
  float: right;
  width: 30%;
}
@media all and (max-width: 768px) {
  .plats__title img:nth-child(3) {
    float: none;
    display: block;
    text-align: center;
  }
}
.plats__price {
  float: right;
  font-weight: bold;
}

.plats__title:hover .under::after {
  width: 100%;
}

.under {
  width: 100px;
  position: relative;
}

.under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #cf8a3a;
  transition: 0.5s;
}

.menu1 {
  background-color: #fcdfdb;
  color: #3d1319;
  font-size: 1.5em;
  box-shadow: 8px 8px 8px grey;
}
.menu1__fontLine {
  font-family: "Roboto", sans-serif;
  color: #3d1319;
}
@media all and (max-width: 768px) {
  .menu1__fontLine {
    width: 100%;
  }
}
.menu1__fontTitle {
  font-family: "Devonshire", cursive;
  color: #3d1319;
  font-size: 1.5em;
}

.menu2 {
  background-color: #fff5fe;
  color: #cf8a3a;
  box-shadow: 8px 8px 8px #524d4d;
  font-size: 2em;
}
.menu2__fontLine {
  font-family: "Roboto", sans-serif;
  color: #cf8a3a;
  font-size: 0.9em;
}
@media all and (max-width: 768px) {
  .menu2__fontLine {
    width: 100%;
  }
}
.menu2__fontLine2 {
  font-family: "Roboto", sans-serif;
  color: #a56799;
  font-size: 0.9em;
}
.menu2__fontLine3 {
  font-family: "Roboto", sans-serif;
  color: #0905cf;
  font-size: 0.9em;
}
.menu2__fontTitle {
  font-family: "Croissant One", cursive;
  background: #cf8a3a;
  /* Old browsers */
  background: linear-gradient(to right, #cf8a3a 0%, #a56799 50%, #0905cf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
}

.menu3 {
  background-color: #edefef;
  color: #0743e4;
  font-size: 1.7em;
  box-shadow: 8px 8px 8px grey;
}
.menu3__fontLine {
  font-family: "Roboto", sans-serif;
  color: black;
}
.menu3__fontTitle {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right, #0743e4 0%, #0a89fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}
.menu3 img {
  width: 100%;
}

.menu4 {
  background-color: white;
  color: #92d968;
  font-size: 1.5em;
  box-shadow: 8px 8px 8px grey;
}
.menu4__fontLine {
  font-family: "Roboto", sans-serif;
  color: black;
}
.menu4__fontTitle {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #182117 0%, #92d968 50%, #bfff80 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}
.menu4 img {
  width: 100%;
}

.marginTitle {
  padding-top: 170px;
  padding-bottom: 160px;
}

.fontTitle--size {
  font-size: 3em;
}

/*.mealTitle{
    padding-right: 25%;
}*/
.bodyMl {
  background-color: white;
  color: black;
}
.bodyMl__p {
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
