/*
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/
@keyframes headshake {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h2 {
  text-align: center;
  font-weight: normal;
}

.marginLeft {
  margin-left: 50px;
}
@media all and (max-width: 768px) {
  .marginLeft {
    margin-left: 0px;
  }
}

.marginRight {
  margin-right: 50px;
}
@media all and (max-width: 768px) {
  .marginRight {
    margin-right: 0px;
  }
}

.btn {
  text-align: left;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 25px 25px 25px 25px;
  line-height: 115px;
  font-weight: bold;
  font-size: 4em;
  padding: 1rem 1rem 1rem 5rem;
  margin-top: 90px;
  width: 650px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}
.btn::after {
  content: "";
  animation: loading 3s infinite;
}
@media all and (max-width: 768px) {
  .btn {
    width: 90%;
    font-size: 2em;
    line-height: 60px;
    padding-left: 1rem;
  }
}

header {
  background-color: #579c87;
  width: 100%;
  text-align: center;
  line-height: 242px;
}

header > p {
  color: #fdcb46;
  font-size: 5em;
  font-weight: bold;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -3px;
}
@media all and (max-width: 768px) {
  header > p {
    font-size: 4em;
  }
}

header a {
  text-decoration: none;
  color: #fdcb46;
}
header a:hover {
  text-decoration: none;
}

.content {
  text-align: center;
  margin-bottom: 200px;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  height: 137px;
  width: 100%;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 2em;
}
@media all and (max-width: 768px) {
  footer {
    display: block;
  }
}

footer p {
  margin-top: 45px;
  font-family: "Open Sans", sans-serif;
}
@media all and (max-width: 768px) {
  footer p {
    margin-top: 5px;
    text-align: center;
  }
}

footer a {
  text-decoration: none;
  color: #fdcb46;
  padding-left: 10px;
  padding-right: 20px;
}
footer a:hover {
  display: inline-block;
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
}

.menus {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  flex-wrap: wrap;
}
.menus__inner {
  width: 543px;
  height: 759px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
}
.menus__inner .group {
  transition: all 500ms ease-in-out;
}
.menus__inner:hover .group {
  opacity: 0.5;
  transform: scale(1.2);
}
@media all and (max-width: 543px) {
  .menus__inner {
    width: 100%;
    margin: auto;
    height: 388px;
  }
}
@media all and (max-width: 768px) {
  .menus__inner {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.menus__inner img {
  width: 30px;
}
.menus__inner__title {
  animation: zoom 2s ease-in-out;
  animation-delay: 400ms;
  animation-fill-mode: both;
}
.menus__inner a, .menus__inner a:hover, .menus__inner a:visited {
  text-decoration: none;
  color: inherit;
}
@media all and (max-width: 768px) {
  .menus {
    flex-direction: column;
    font-size: 0.9em;
  }
}

.openMenu {
  max-width: 1198px;
  min-height: 1684px;
  margin: auto;
  text-align: left;
  padding-bottom: 30px;
}
.openMenu h2 {
  margin-top: 0;
}
.openMenu__image {
  text-align: center;
}
.openMenu__image img {
  width: 130px;
  margin-top: 77px;
}
.openMenu .imageFinale {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
.openMenu .imageFinale img {
  width: 73px;
  vertical-align: middle;
  margin-right: 10px;
}

.plats {
  padding-left: 10%;
  padding-right: 10%;
  margin-right: 0;
  margin-bottom: 100px;
}
.plats__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
@media all and (max-width: 768px) {
  .plats__title {
    flex-direction: column;
  }
}
.plats__title img:nth-child(1) {
  width: 30%;
  max-height: 34px;
}
@media all and (max-width: 768px) {
  .plats__title img:nth-child(1) {
    margin: auto;
  }
}
.plats__title img:nth-child(3) {
  width: 30%;
  max-height: 34px;
}
@media all and (max-width: 768px) {
  .plats__title img:nth-child(3) {
    margin: auto;
  }
}
.plats__price {
  font-weight: bold;
}
@media all and (max-width: 1160px) {
  .plats__price {
    margin: auto;
    width: 70px;
  }
}

.plats__title:hover .under::after {
  width: 100%;
}

.under {
  position: relative;
}
@media all and (max-width: 768px) {
  .under {
    margin: auto;
  }
}

.menu1 {
  background-color: #fcdfdb;
  color: #3d1319;
  font-size: 1.5em;
  box-shadow: 8px 8px 8px grey;
  font-family: "Roboto", sans-serif;
}
.menu1__fontLine {
  color: #3d1319;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 1160px) {
  .menu1__fontLine {
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 0.9em;
  }
}
.menu1__fontTitle {
  font-family: "Devonshire", cursive;
  color: #3d1319;
  font-size: 1.5em;
}
.menu1__fontText {
  font-family: "Segoe Print", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #3d1319;
}
.menu1 .under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #3d1319;
  transition: 0.5s;
}

.menu2 {
  background-color: #fff5fe;
  color: #cf8a3a;
  box-shadow: 8px 8px 8px #524d4d;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}
.menu2__disp {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 1160px) {
  .menu2__disp {
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }
}
.menu2__fontText {
  font-family: "Croissant One", cursive;
  color: #cf8a3a;
  font-size: 1.5em;
}
.menu2__fontLine {
  color: #cf8a3a;
  font-size: 0.9em;
}
.menu2__fontLine .under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #cf8a3a;
  transition: 0.5s;
}
.menu2__fontLine2 {
  color: #a56799;
  font-size: 0.9em;
}
.menu2__fontLine2 .under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #a56799;
  transition: 0.5s;
}
.menu2__fontLine3 {
  color: #0905cf;
  font-size: 0.9em;
}
.menu2__fontLine3 .under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #0905cf;
  transition: 0.5s;
}
.menu2__fontTitle {
  font-family: "Croissant One", cursive;
  background: #cf8a3a;
  /* Old browsers */
  background: linear-gradient(to right, #cf8a3a 0%, #a56799 50%, #0905cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  width: 400px;
}
@media all and (max-width: 768px) {
  .menu2__fontTitle {
    width: 80%;
  }
}

.menu3 {
  background-color: #edefef;
  color: #7b7e86;
  font-size: 1.7em;
  font-family: "Roboto", sans-serif;
  box-shadow: 8px 8px 8px grey;
}
.menu3__fontText {
  font-family: "Segoe Print", cursive;
  color: #023de4;
  font-size: 1.5em;
}
.menu3__fontLine {
  color: black;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 1160px) {
  .menu3__fontLine {
    flex-direction: column;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
  }
}
.menu3__fontLine .under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: black;
  transition: 0.5s;
}
.menu3__fontTitle {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right, #023de4 0%, #6db9fc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  width: 60%;
}
.menu3__fontTitle--size {
  font-size: 3em;
}
@media all and (max-width: 768px) {
  .menu3__fontTitle--size {
    font-size: 2em;
  }
}
.menu3 img {
  width: 100%;
}

.menu4 {
  background-color: white;
  color: #92d968;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  box-shadow: 8px 8px 8px grey;
}
.menu4__disp {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 1160px) {
  .menu4__disp {
    width: 100%;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-size: 0.9em;
  }
}
.menu4__fontText {
  font-family: "Segoe Print", cursive;
  color: #92d968;
  font-size: 1.5em;
}
.menu4__fontLine {
  color: black;
}
.menu4__fontLine .under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #92d968;
  transition: 0.5s;
}
.menu4__fontTitle {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #182117 0%, #92d968 40%, #bfff80 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  width: 50%;
}
.menu4__fontTitle--size {
  font-size: 3em;
}
@media all and (max-width: 768px) {
  .menu4__fontTitle--size {
    font-size: 2em;
  }
}
.menu4 img {
  width: 100%;
}

.marginTitle {
  padding-top: 170px;
  padding-bottom: 160px;
  margin: auto;
}
@media all and (max-width: 768px) {
  .marginTitle {
    padding-top: 30px;
    padding-bottom: 25px;
  }
}

.bodyMl {
  background-color: white;
  color: black;
}
.bodyMl__p {
  text-align: justify;
}
@media all and (max-width: 768px) {
  .bodyMl__p {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
