.btn{
        display: inline-block;
        text-align: left;
        background-color: $colourPrimary;
        color: $colourSecondary;
        border-radius: 10px 10px 10px 10px;
        line-height: 20px;
        vertical-align: center;
        font-weight: bold;
        font-size: 3em;
        padding: 1rem 1rem 1rem 1rem;
        margin-top: 0;
        width: 400px;
        &::after{
            content: '';
            animation: loading 6s infinite;
        }
    }