.btn{
        text-align: left;
        background-color: $colourPrimary;
        color: $colourSecondary;
        border-radius: 25px 25px 25px 25px;
        line-height: 120px;
        font-weight: bold;
        font-size: 4em;
        padding: 1rem 1rem 1rem 5rem;
        margin-top: 90px;
        width: 650px;
        margin: auto;
        &::after{
            content: '';
            animation: loading 3s infinite;
        }
        @include tablet-only{
            width: 70%;
            font-size: 2.5em;
            line-height: 60px;
            padding-left: 3rem;
        }
    }