html{
    margin:0;
    padding:0;

}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

h2{
    text-align: center;
    font-weight: normal;
}

.marginLeft{
    margin-left: 50px;
    @include tablet-only{
        margin-left: 0px;
    }
}

.marginRight{
    margin-right: 50px;
    @include tablet-only{
        margin-right: 0px;
    }
}