.openMenu{
    max-width: 1198px;
    min-height: 1684px;
    margin: auto;
    text-align: left;
    padding-bottom: 30px;
    h2{
        margin-top: 0;
    }
    &__image{
        text-align: center;
        img{
            width: 130px;
            margin-top: 77px;
        }
    }
    .imageFinale {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        img{
            width: 73px;
            vertical-align: middle; 
            margin-right: 10px;
        }
    }
}

.plats{
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 0;
    margin-bottom: 100px;
    &__title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-around;
        @include tablet-only{
            flex-direction: column;
        }
        img:nth-child(1){ // trait gauche
            width: 30%;
            max-height: 34px;
            @include tablet-only{
                margin: auto;
            }
        }
        img:nth-child(3){ // trait droite
            width: 30%;
            max-height: 34px;
            @include tablet-only{
                margin: auto;
            }
        }
    }
    &__price{
        font-weight: bold;
        @include laptop-only{
            margin: auto;
            width: 70px;
        }
    }
}

.plats__title:hover .under::after{
    width: 100%;
}

.under{
    position: relative;
    @include tablet-only{
        margin: auto;
    }
  }

.menu1{
    background-color: $backgroundMenu1;
    color: $colorMenu1;
    font-size: 1.5em;
    box-shadow : 8px 8px 8px grey;
    font-family: 'Roboto', sans-serif;
    &__fontLine{
        color: $colorMenu1;
        display: flex;
        justify-content: space-between;
        @include laptop-only{
            width: 100%;
            flex-direction: column;
            text-align: center;
            font-size: 0.9em;
            }
        }
    &__fontTitle{
        font-family: 'Devonshire', cursive;
        color: $colorMenu1;
        font-size: 1.5em;
    }
    &__fontText{
        font-family: 'Segoe Print', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        color: $colorMenu1;
    }
    .under::after{
        @include under($colorMenu1);
        }
}

.menu2{
    background-color: $backgroundMenu2;
    color: $colorMenu2a;
    box-shadow : 8px 8px 8px rgb(82, 77, 77);
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    &__disp{
        display: flex;
        justify-content: space-between;
        @include laptop-only{
            width: 100%;
            flex-direction: column;
            text-align: center;
            margin-left: 0;
            }
    }
    &__fontText{
        font-family: 'Croissant One', cursive;
        color: $colorMenu2a;
        font-size: 1.5em;
    }
    &__fontLine{
        color: $colorMenu2a;
        font-size: 0.9em;
        .under::after{
            @include under($colorMenu2a);
            }    
    }
    &__fontLine2{
        color : $colorMenu2b;
        font-size: 0.9em;
        .under::after{
            @include under($colorMenu2b);
            }
    }
    &__fontLine3{
        color : $colorMenu2c;
        font-size: 0.9em;
        .under::after{
            @include under($colorMenu2c);
            }
    }
    &__fontTitle{
        font-family: 'Croissant One', cursive;
        background: $colorMenu2a; /* Old browsers */
        background: linear-gradient(to right, $colorMenu2a 0%, $colorMenu2b 50%, $colorMenu2c 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1em;
        width: 400px; // Permet de régler la taille du fond
        @include tablet-only{
            width: 80%;
        }
    }
}

.menu3{
    background-color: $backgroundMenu3;
    color: $colorMenu3a;
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;
    &__fontText{
        font-family: 'Segoe Print', cursive;
        color : #023de4;
        font-size: 1.5em;
    }
    &__fontLine{
        color: $colorMenu3b;
        display: flex;
        justify-content: space-between;
        @include laptop-only{
            flex-direction: column;
            margin: auto;
            width: 100%;
            text-align: center;
            font-size: 0.9em;
            }
        .under::after{
            @include under($colorMenu3b);
            }
    }
    &__fontTitle{
        font-family: 'Dancing Script', cursive;
        background: linear-gradient(to right, #023de4 0%, #6db9fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5em;
        &--size{
            font-size: 3em;
            @include tablet-only{
                font-size: 2em;
            }
        }
    }
    box-shadow : 8px 8px 8px grey;
    img{
        width: 100%;
    }
}

.menu4{
    background-color: $backgroundMenu4;
    color: $colorMenu4a;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    &__disp{
        display: flex;
        justify-content: space-between;
        @include laptop-only{
            width: 100%;
            flex-direction: column;
            margin: auto;
            text-align: center;
            font-size: 0.9em;
            }
    }
    &__fontText{
        font-family: 'Segoe Print', cursive;
        color : hsl(98, 60%, 63%);
        font-size: 1.5em;
    }
    &__fontLine{
        color: $colorMenu4b;
        .under::after{
            @include under($colorMenu4a);
            }
    }
    &__fontTitle{
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(to right,hsl(114, 19%, 11%) 0%, hsl(98, 60%, 63%) 40%, hsl(90,100%,75%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5em;
        &--size{
            font-size: 3em;
            @include tablet-only{
                font-size: 2em;
            }
        }
    }
    box-shadow : 8px 8px 8px grey;
    img{
        width: 100%;
    }
}

.marginTitle{
    padding-top: 170px;
    padding-bottom: 160px;
    margin: auto;
    @include tablet-only{
        padding-top: 30px;
        padding-bottom: 25px;
    }
}