.menu1{
    background-color: #fcdfdb;
    color: #3d1319;
    &__fontLine{
        font-family: 'Roboto', sans-serif;
    }
    &__fontTitle{
        font-family: 'Devonshire', cursive;
        font-size: 3em;
    }
}

.menu2{
    background-color: #fff5fe;
    &__fontLine{
        font-family: 'Roboto', sans-serif;
        color: #cf8a3a;
    }
    &__fontLine2{
        font-family: 'Roboto', sans-serif;
        color : #a56799;
    }
    &__fontLine3{
        font-family: 'Roboto', sans-serif;
        color : #0905cf;
    }
    &__fontTitle{
        font-family: 'Croissant One', cursive;
        background: #d3813e; /* Old browsers */
        // background: -webkit-linear-gradient(left, #d3813e 0%,#0905cf 100%);
        // background: -moz-linear-gradient(left, #d3813e 0%, #0905cf 100%); /* FF3.6-15 */
        background: linear-gradient(to right, #d3813e 0%, #a56799 50%, #0905cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu3{
    background-color: #edefef;
    &__fontLine{
        font-family: 'Roboto', sans-serif;
        color: black;
    }
    &__fontTitle{
        font-family: 'Dancing Script', cursive;
        background: #083de2; /* Old browsers */
        // background: -webkit-linear-gradient(left, #d3813e 0%,#0905cf 100%);
        // background: -moz-linear-gradient(left, #d3813e 0%, #0905cf 100%); /* FF3.6-15 */
        background: linear-gradient(to right, #083de2 0%, #567fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3em;
    }
}

.menu4{
    background-color: white;
    &__fontLine{
        font-family: 'Roboto', sans-serif;
        color: black;
    }
    &__fontTitle{
        font-family: 'Kaushan Script', cursive;
        background: #60ac52; /* Old browsers */
        // background: -webkit-linear-gradient(left, #d3813e 0%,#0905cf 100%);
        // background: -moz-linear-gradient(left, #d3813e 0%, #0905cf 100%); /* FF3.6-15 */
        background: linear-gradient(to right, #60ac52 0%, #c0ff83 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2em;
    }
}