.openMenu{
    max-width: 1198px;
    min-height: 1684px;
    margin: auto;
    text-align: left;
    padding-bottom: 30px;
    h2{
        margin-top: 0;
    }
    &__image{
        text-align: center;
        img{
            width: 130px;
            margin-top: 77px;
        }
    }
    .imageFinale {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        img{
            width: 73px;
            vertical-align: middle; 
            margin-right: 10px;
        }
    }
}

.plats{
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 0;
    margin-bottom: 100px;
    &__title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
        img{
            vertical-align: middle;
            width: 100%;
            @include tablet-only{
                margin: auto;
                text-align: center;
            }
        }
        img:nth-child(1){ // trait gauche
            float: left;
            width: 30%;
            @include tablet-only{
                float: none;
                display: block;
                text-align: center;
            }
        }
        img:nth-child(3){ // trait droite
            float: right;
            width: 30%;
            @include tablet-only{
                float: none;
                display: block;
                text-align: center;
            }
        }
    }
    &__price{
        float: right;
        font-weight: bold;
        @include tablet-only{
            margin: auto;
            display: block;
            float: none;
            width: 70px;
        }
    }
}



.plats__title:hover .under::after{
    width: 100%;
}

.under{
    width: 100px;
    position: relative;
  }

.menu1{
    background-color: $backgroundMenu1;
    color: $colorMenu1;
    font-size: 1.5em;
    box-shadow : 8px 8px 8px grey;
    &__fontLine{
        font-family: 'Roboto', sans-serif;
        color: $colorMenu1;
        @include tablet-only{
            width: 100%;
            }
        }
    &__fontTitle{
        font-family: 'Devonshire', cursive;
        color: $colorMenu1;
        font-size: 1.5em;
    }
    .under::after{
        @include under($colorMenu1);
        }
}

.menu2{
    background-color: $backgroundMenu2;
    color: $colorMenu2a;
    box-shadow : 8px 8px 8px rgb(82, 77, 77);
    font-size: 2em;
    &__fontLine{
        font-family: 'Roboto', sans-serif;
        color: $colorMenu2a;
        font-size: 0.9em;
        @include tablet-only{
            width: 100%;
            }
        .under::after{
            @include under($colorMenu2a);
            }    
    }
    &__fontLine2{
        font-family: 'Roboto', sans-serif;
        color : $colorMenu2b;
        font-size: 0.9em;
        .under::after{
            @include under($colorMenu2b);
            }
    }
    &__fontLine3{
        font-family: 'Roboto', sans-serif;
        color : $colorMenu2c;
        font-size: 0.9em;
        .under::after{
            @include under($colorMenu2c);
            }
    }
    &__fontTitle{
        font-family: 'Croissant One', cursive;
        background: $colorMenu2a; /* Old browsers */
        background: linear-gradient(to right, $colorMenu2a 0%, $colorMenu2b 50%, $colorMenu2c 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1em;
        width: 400px;
        margin: auto;
        margin-top: 300px;
        @include tablet-only{
            width: 80%;
        }
    }
}

.menu3{
    background-color: $backgroundMenu3;
    color: $colorMenu3a;
    font-size: 1.7em;
    &__fontLine{
        font-family: 'Roboto', sans-serif;
        color: $colorMenu3b;
        .under::after{
            @include under($colorMenu3b);
            }
    }
    &__fontTitle{
        font-family: 'Dancing Script', cursive;
        // background: #1a4ce3; /* Old browsers */
        // background: -webkit-linear-gradient(left, #d3813e 0%,#0905cf 100%);
        // background: -moz-linear-gradient(left, #d3813e 0%, #0905cf 100%); /* FF3.6-15 */
        background: linear-gradient(to right, #023de4 0%, #6db9fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5em;
        width: 60%;
        margin: auto;
        margin-top: 300px;
    }
    box-shadow : 8px 8px 8px grey;
    img{
        width: 100%;
    }
}

.menu4{
    background-color: $backgroundMenu4;
    color: $colorMenu4a;
    font-size: 1.5em;
    &__fontLine{
        font-family: 'Roboto', sans-serif;
        color: $colorMenu4b;
        .under::after{
            @include under($colorMenu4a);
            }
    }
    &__fontTitle{
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(to right,hsl(114, 19%, 11%) 0%, hsl(98, 60%, 63%) 50%, hsl(90,100%,75%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5em;
        width: 50%;
        margin: auto;
        margin-top: 300px;
        &--size{
            font-size: 3em;
            @include tablet-only{
                font-size: 2em;
            }
        }
    }
    box-shadow : 8px 8px 8px grey;
    img{
        width: 100%;
    }
}

.marginTitle{
    padding-top: 170px;
    padding-bottom: 160px;
    @include tablet-only{
        padding-top: 30px;
        padding-bottom: 25px;
    }
}

/*.mealTitle{
    padding-right: 25%;
}*/