$colourPrimary: #579c87;
$colourSecondary: #fdcb46;
$colourML : black;
$background_ML : white;

$shakeIntensity: 2%;

$menu1Color: #fcdeda;
$menu2Color: #fff5fe;
$menu3Color: #f9f9f9;
$menu4Color: #fdfffd;
