.content{
    text-align: center;
    margin-bottom: 70px;
}

.openMenu{
    width: 70%;
    margin: auto;
    text-align: left;
    padding-bottom: 30px;
    &__image{
        text-align: center;
        img{
            width: 50px;
        }
    }
    .imageFinale {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        img{
            width: 50px;
            vertical-align: middle; 
        }
    }
}

.plats{
    padding-left: 10%;
    padding-right: 10%;
    &__title {
        text-align: center;
        font-weight: bold;
        img{
        vertical-align: middle;
        }
        img:nth-child(1){
            float: left;
            width: 30%;
        }
        img:nth-child(3){
            float: right;
            width: 30%;
        }
    }
    &__price{
        float: right;
        font-weight: bold;
    }
}

.under::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: red;
    transition: 0.5s;
    }

.plats__title:hover .under::after{
    width: 100%;
}

.under{
    width: 100px;
    position: relative;
  }