footer{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    height: 137px;
    width: 100%;
    margin-bottom: 0px;
    background-color: $colourPrimary;
    color: $colourSecondary;
    font-size: 2em;
}

footer p{
    margin-top: 45px;
}

footer a{
    text-decoration: none;
    color: $colourSecondary;
    padding-left: 10px;
    padding-right: 20px;
    &:hover{
        display: inline-block;
        animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 3;
    }
}