footer{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    height: 137px;
    width: 100%;
    background-color: $colourPrimary;
    color: $colourSecondary;
    font-size: 2em;
    @include tablet-only{
        display: block;
    }
}

footer p{
    margin-top: 45px;
    font-family: 'Open Sans', sans-serif;
    @include tablet-only{
        margin-top: 5px;
        text-align: center;
    }
}

footer a{
    text-decoration: none;
    color: $colourSecondary;
    padding-left: 10px;
    padding-right: 20px;
    &:hover{
        display: inline-block;
        animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 3;
    }
}