header{
    background-color: $colourPrimary;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

header>p{
 color: $colourSecondary;
 font-size: 4em;
 font-weight: bold;
 margin: 0;
}