header{
    background-color: $colourPrimary;
    width: 100%;
    text-align: center;
    line-height: 242px;
}

header>p{
 color: $colourSecondary;
 font-size: 4em;
 font-weight: bold;
 margin: 0;
}

header a{
    text-decoration: none;
    color: $colourSecondary;
    &:hover{
        text-decoration: none; 
    }
}